@model IEnumerable<wardrobe.Models.Bottoms>

@{
    ViewBag.Title = "Bottoms";
}

<div class="type-views">
    <h2>Bottoms in Your Closet</h2>

    <p>
        @Html.ActionLink("Put Some New Bottoms In Your Closet", "Create")
    </p>
</div>

<div class="type-views">
    <div class="row">
        @*A loop to show all the items entered by the user*@
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @*If the user entered no photo link, it defaults to a pre-selected*@
                    @if (item.PhotoLink == null)
                    {
                        <img class="img-responsive" src="~/Content/Images/jeans-pants-blue-shop-52518.jpeg" />
                    }
                    else
                    {
                        <img class="img-responsive" src=@Url.Content(item.PhotoLink) alt="@Html.DisplayFor(modelItem => item.BottomsNameDescription)">
                    }
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.BottomsNameDescription)</h3>
                        <p>
                            @Html.ActionLink("View Details", "Details", "Bottoms", new { id = item.BottomsID }, new { @class = "btn btn-sm btn-default" })
                            @Html.ActionLink("Edit Details", "Edit", "Bottoms", new { id = item.BottomsID }, new { @class = "btn btn-sm btn-default" })
                        </p>
                        <p>    @Html.ActionLink("Remove Bottoms From Closet", "Delete", "Bottoms", new { id = item.BottomsID }, new { @class = "btn btn-sm btn-default" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
