@model IEnumerable<wardrobe.Models.Bottoms>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BottomsNameDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorPrimary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorSecondary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorTertiary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BottomsNameDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorPrimary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorSecondary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorTertiary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BottomsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BottomsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BottomsID })
        </td>
    </tr>
}

</table>
