@model wardrobe.Models.Tops

@{
    ViewBag.Title = "Delete";
}
<div class="type-views">
    <h2><span class="emboldened">Delete:</span> @Model.TopNameDescription</h2>

    <h3>Are you sure you want to remove this from your closet?</h3>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-lg-6">
                @if (Model.PhotoLink == null)
            {
                    <img class="img-responsive details-shrink" src="~/Content/Images/fashion-clothes-hanger-clothes-rack-clothing.jpeg" />
                }
                else
                {
                    <img class="img-responsive details-shrink" src="@Html.DisplayFor(model => model.PhotoLink)" alt="@Html.DisplayFor(model => model.TopNameDescription)">
                }
            </div>
            <div class="col-md-3 col-lg-3" id="align-left">
                <h4><span class="emboldened">Color(s):</span> @Html.DisplayFor(model => model.ColorPrimary)</h4>
                @if (Model.ColorSecondary != null)
            {
                    <h4>and @Html.DisplayFor(model => model.ColorSecondary)</h4>
                }

                @if (Model.ColorTertiary != null)
            {
                    <h4>and @Html.DisplayFor(model => model.ColorTertiary)</h4>
                }

            </div>
            <div class="col-md-3 col-lg-3" id="align-left">
                <h4><span class="emboldened">@Html.DisplayNameFor(model => model.Season):</span> @Html.DisplayFor(model => model.Season)</h4>
                <h4><span class="emboldened">@Html.DisplayNameFor(model => model.Occasion):</span> @Html.DisplayFor(model => model.Occasion)</h4>
            </div>
        </div>
        <br /><br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Confirm Remove From Closet" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
